# Archivos compilados y paquetes de NetBeans
/build/
/dist/

# Configuracion privada del usuario de NetBeans
/nbproject/private/

# Archivos de datos generados por la aplicacion
/data/
/utils/
/06Code/Finvory/dist/
